<p style="color: green"><%= notice %></p>

<br></br>
<br></br>

<%= render @list %>
<center>
<div>
    <%= link_to "Edit this Task", edit_list_path(@list), class: "btn btn-dark" %> |
    <%= link_to "Back to Tasks", lists_path, class: "btn btn-dark" %> 
</div>
<br>
</br>
<div>
  <%= button_to "Destroy this Task", @list, method: :delete, class: "btn btn-dark"%>
</div  
  

</center>