<p style="color: green"><%= notice %></p>

<%= render @list %>

<div>
  <%= link_to "Edit this Task", edit_list_path(@list), class: "btn btn-outline-dark" %> |
  <%= link_to "Back to Tasks", lists_path, class: "btn btn-outline-dark" %>

  <%= button_to "Destroy this Task", @list, method: :delete, class: "btn btn-dark" %>
</div>
